.card{
	text-align: center;
}
.bg-body-tertiary{
	background-color: rgb(218, 224, 229) !important;
	border-radius: 2px;
}

.card img{

	
}
.accordion-flush{
	padding-top: 20px;
}


248,249,250